name: this pipeline will host flask app

on:
  workflow_dispatch:

jobs:
  common:
    uses: ./.github/workflows/common.yml
    secrets:
      GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}

  build_and_test:
    needs: common
    runs-on: ubuntu-latest
    steps:
      - name: install dependencies
        run: |
          sudo apt update
          sudo apt install docker-compose curl -y

      - name: configure artifact registry
        run: |
          gcloud auth configure-docker ${{ secrets.GCP_ARTIFACT }}

      - name: build
        run: docker-compose up --build -d

      - name: test
        run: curl http://0.0.0.0:80
